H6 { text-align: center;
     font-size: 12px; }
H1 { text-align: center }

.grey {
	position: absolute;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 75%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 7px;
	text-align: center;
}

canvas {
	display: block;
	background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworks {
    background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworksText {
	background-color:rgba(0, 0, 0, 0);
	color:white;
	font-size: 48px;
}