H3 { text-align: center }
H1 { text-align: center }

#grey {
	position: absolute;
	height: 800px;
	width: 4000px;
	left: 0px;
	top: 0px;
	background-image: url(philtest.png);
	display: none;
	overflow: auto;
}

#ring {
	background-color: rgba(255, 0, 0, 0);
	position: absolute;
	height: 15px;
	width: 15px;
	left: 840px;
	top: 340px;
}

#newText {
	background-color: rgb(255, 255, 255);
	position: absolute;
	height: 216px;
	width: 400px;
	left: 344px;
	top: 181px;
	display: none;
}

canvas {
	cursor: crosshair;
	display: block;
	background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworks {
    background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworksText {
	background-color:rgba(0, 0, 0, 0);
	color:white;
	font-size: 48px;
}