H3 { text-align: center }
H1 { text-align: center }

.grey {
	position: absolute;
	height: 25%;
	width: 75%;
	left: 12.5%;
	top: 75%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.6);
}

#newText {
	background-color: rgb(255, 255, 255);
	position: absolute;
	height: 216px;
	width: 400px;
	left: 344px;
	top: 181px;
	display: none;
}

canvas {
	display: block;
	background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworks {
    background-color:black;
	color:white;
	font-size: 48px;
	text-align: center;
}

.fireworksText {
	background-color:rgba(0, 0, 0, 0);
	color:white;
	font-size: 48px;
}